.projet__main{
  min-height: 100vh;

  &__title{
    padding-top: 5rem;
    padding-bottom: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 2rem;
    font-size: 2.5rem;
    color: rgb(37, 10, 133);
  }

  &__category{
    font-size: 2rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
    cursor: pointer;
  }
}

.projet__detail{
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  transition: all .5s ease-in-out;

  &__card{

    text-align: center;
    // border: solid 2px black;
    padding-bottom: 2rem;
    flex: 1;

    &__evadia{
      width: 25%;
      transition: all .2s ease-in;
      }

      &__evadia:hover{
        transform: scale(1.2);
      }

    &__detectiv{
      width: 35%;
      border-radius: 5%;
      transition: all .2s ease-in;
      }

      &__detectiv:hover{
        transform: scale(1.2);
      }

    &__soundboard{
      width: 33%;
      border-radius: 5%;
      transition: all .2s ease-in;
      }

      &__soundboard:hover{
        transform: scale(1.2);
      }

    &__github{
      padding-top: 1.5rem;
      width: 10%;
      transition: all .2s ease-in;
    }

    &__github:hover{
      transform: scale(1.2);
    }

    &__text{
      text-align: center;
    }
  }

  &__h2{
    font-size: 2rem;
    padding-bottom: 1.5rem;
    padding-top: 3rem;
    font-weight: bold;

    &__inner{
      width: 60%;
      height: 1px;
      margin: 0px auto;
      border-bottom: 1px solid #969696;
    }
  }

&__h3{
  font-size: 1.2rem;
  padding-top: 1.5rem;
}

  &__p{
    padding-top: 1rem;
    font-style: italic;
  }
}

.projet__youtube{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 80px;

  &__card{
    text-align: center;
    padding-bottom: 6rem;
    flex: 1;
  }
}

.dropdown__button{
  &__arrow{
    transition: transform 0.3s;

    &__animation{
      transform: rotateZ(180deg);
    }
  }
}

