// CSS Desktop :
@media screen and (min-width: 769px){

.experiences{
  &__main{
  min-height: 100vh;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;

    &__title{
    margin-top: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 2rem;
    font-size: 2.5rem;
    color: #a12531;
    }
}

&__flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}
&__detail{
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;

  &__text{
    width: 70%;
  
    &__h2{
      font-size: 1.5rem;
      margin-left: 1rem;
      font-weight: bold;
      }

      &__h3 {
        font-size: 1.2rem;
        margin-left: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-top: 2rem;
        padding: 1rem 0rem 1rem 0rem;

        &__date{
          font-size: 1.1rem;
          font-style: italic;
        }
      }
    &__ul{
      margin-left: 1.5rem;
    }
  
    &__li{
      padding-bottom: 1rem;
    }
  }

  &__img{
    width: 100px;
  }

  &__logo{
    width: 100%;
    transition: all .2s ease-in;
  }

  &__logo:hover{
    transform: scale(1.2);
  }

  &__category{
    font-size: 1.2rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
  }

}
}
.dropdown__button__arrow:hover{
cursor: pointer;
}
}


// CSS Mobile :
@media screen and (max-width: 768px) {

  .experiences{
    &__main{
    min-height: 100vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
  
      &__title{
        padding-top: 3rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 2rem;
        font-size: 1.5rem;
        color: #a12531;
      }
  }
  
  &__flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
  }
  &__detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
  
    &__text{
      width: 70%;
    
      &__h2{
        font-size: 1.5rem;
        margin-left: 1rem;
        font-weight: bold;
        }
  
        &__h3 {
          font-size: 1.2rem;
          margin-left: 1.2rem;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          padding-top: 2rem;
          padding: 1rem 0rem 1rem 0rem;
  
          &__date{
            font-size: 1.1rem;
            font-style: italic;
          }
        }
      &__ul{
        margin-left: 1.5rem;
      }
    
      &__li{
        padding-bottom: 1rem;
      }
    }
  
    &__img{
      width: 100px;
    }
  
    &__logo{
      width: 70%;
      transition: all .2s ease-in;
    }
  
    &__logo:hover{
      transform: scale(1.2);
    }
  
    &__category{
      font-size: 1.2rem;
      padding-left: 1.5rem;
      padding-bottom: 1.5rem;
    }
  
  }
  }
  }