.skills{
  min-height: 100vh;
  background-color: rgb(219, 226, 239);

  &__title{
    padding-top: 5rem;
    padding-bottom: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 2rem;
    font-size: 2.5rem;
    color: rgb(37, 10, 133);
    }

  &__all{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
  }
}

.skills__detail{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 50%;

  &__h2{
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
    color: cornflowerblue;
    font-weight: bold;
    text-align: center;
  }

  &__logo_display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: space-around;
    margin-top: 2rem;

  }

&__ul{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

&__li{
  padding-bottom: 4%;
}

  &__li_logo{
    display: flex;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }

  &__transition{
    border-left: solid black 2px;
  }
}
