.contact__main{
    min-height: calc(100vh - 10vh);
    background-color: rgb(238, 238, 238);

    &__title{
        padding-top: 3rem;
        padding-bottom: 4rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 2rem;
        font-size: 2.5rem;
        color: #a12531;
      }
}

.contact__details{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;

    &__email{
        width: 20%;
        transition: all .2s ease-in;
    }

    &__email:hover{
        transform: scale(1.1);
    }

    &__linkedin{
        width: 20%;
        transition: all .2s ease-in;
    }
    
    &__linkedin:hover{
        transform: scale(1.1);
    }

    &__github{
        width: 25%;
        transition: all .2s ease-in;
    }

    &__github:hover{
        transform: scale(1.1);
    }

}