.menu .menu__items{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
  // border: 2px solid black;
  // background-color: #a12531;
  // background-color: #1d1a1a;
  // background-color: #121213;
  cursor: pointer;
  // color: white;
  // box-shadow: 2px 2px black;


}

.bckgrnd__black{
  background-color:#121213 ;
  color: rgb(238, 238, 238);
  transition: all .5s ease;

  .menu__item_one:hover{
    background-color: rgb(238, 238, 238);
    color:#121213;
    transition: all .5s ease;
  }
}

.bckgrnd__white{
  background-color: rgb(238, 238, 238);
  color: #121213;
  transition: all .5s ease;

  .menu__item_one:hover{
    background-color: #121213;
    color: rgb(238, 238, 238);
    transition: all .5s ease;
  }
}


.menu__li{
  margin: 2rem;
  font-size: 1.3rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-transform: uppercase;
}

// .menu__item_one:hover{
//   background-color: white;
//   -webkit-transform:scale(0.5);
//   transform:scale(1);
//   //border-radius: 20px;
//   transition:  all 0.5s ease-out;
//   color: black;
// }

.menu{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
